/*
CSS file created with Instant CSS Code.


 http://instantcsscode.com


Project: Vibe1
File: css/style.css
*/

/*  Styles  */

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}

#wrapper {
 margin:0 auto;
 width:900px; /* Change to desired width */
}

#logo {
 
}

#header {
 
}

#topmenu {
 
}

#content {
 
}

#rightMenu {
 
}

#footer {
 
}

# {
 
}
