@font-face {
  font-family: 'montserrat';
  src: url("/src/fonts/Montserrat-Medium.otf") format("otf"); }

@font-face {
  font-family: 'Roboto';
  src: url("/src/fonts/Roboto-Light.ttf") format(); }

@font-face {
  font-family: 'RobotoThin';
  src: url("/src/fonts/Roboto-Thin.ttf") format("ttf"); }

:root {
  --main-color: #027581;
  --color-dark: #1D2231;
  --text-grey: #8390A2; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box; }

/*.background{
  background-image: url('/img/back.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}*/
.login-header {
  width: 170px;
  margin: 0 90px;
  margin-top: 20px; }

.login-content {
  padding: 20px; }
  .login-content h1 {
    text-align: center;
    font-size: 1.2rem;
     }
  .login-content form {
    margin-top: 20px; }

.login-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  .login-input input {
    height: 69px;
    width: 350px;
    font-size: 1rem;
    border: 2px solid #eaeced;
    outline: none;
    border-radius: 10px;
    padding: 10px }
    .login-input input:hover {
      border: 2px solid #00A8F3; }
    .login-input input:focus {
      border: 2px solid #00A8F3;
      border-radius: 10px; }

.center {
  text-align: center; }

.padding-1 {
  padding: 1.5rem 0 0rem; }

.btn-submit {
  text-align: center;
  padding-top: 10px; }

.btn-login {
  padding: 10px 25px;
  font-size: 1.2rem;
  background: #00A8F3;
  color: white;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px; }

.class-forget{
  margin-bottom: 1rem;
}

.class-forget a {
  color: black; }
  .class-forget a:hover {
    color: #1d539a; }

.login-card {
  /*width: 350px;
  height: 400px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  border-radius: 20px;
  color: black;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 25px rgb(92 99 105 / 20%);
  background: #ffffffd1; }

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span {
  display: flex;
  justify-content: center; }

#sidebar-toggle {
  display: none; }
  #sidebar-toggle:checked ~ .sidebar {
    width: 60px; }
  #sidebar-toggle:checked ~ .main-content {
    margin-left: 60px; }
  #sidebar-toggle:checked ~ .main-content main .main-cards {
    display: grid;
    /*grid-template-columns: 45% 55%;*/ }
    #sidebar-toggle:checked ~ .main-content header {
      left: 60px;
      width: calc(100% - 60px); }
  #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span {
    display: none; }
  #sidebar-toggle:checked ~ .sidebar li span:last-child {
    display: none; }

  #sidebar-toggle:checked ~ .sidebar .sidebar-header .brand .logo{
    display: none;
  }

  #sidebar-toggle:checked ~ .sidebar .sidebar-menu li .sub-menu.showMenu{
    display: block  ;
  }

  #sidebar-toggle:checked ~ .main-content header .search-wrapper img{
    display: block !important;
  }

  #sidebar-toggle:checked ~ .sidebar .sidebar-menu li {
    padding-left: 25px;
}

.chart-container{
  position: relative;
  height: 36vw;
  width: 54vw;
}

.chart-container2{
  position: relative;
  height: 50vh;
  width: 21vw;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 240px;
  /*z-index: 100;*/
  background: #fff;
  transition: width 500ms ease;
  /*overflow-y: auto;*/
  /*transition: width 500ms;*/ }
    /*.sidebar a span:last-child {
      padding-left: .6rem; }*/
  /*.sidebar  li {
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-radius: 20px 0 0 20px;
    padding-left: 10px;
    margin-bottom: 10px; }*/
  .sidebar li .icon-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    /*.sidebar li:hover {
      background: #F4F6F9;
      transition: 500ms ease-in; }*/
      .sidebar li a:hover {
        color: #FE7701 !important; }
      .sidebar li ul li a:hover {
          color: #FE7701 !important; }
  
.sidebar .sidebar-menu{
  height: 100%;
  padding: 15px 0 150px 0;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  /*overflow: auto;*/
}

.sidebar .sidebar-menu::-webkit-scrollbar{
  display: none;
}
.sidebar .sidebar-menu li:hover{
  background: #F4F6F9;
}
.sidebar .sidebar-menu li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
  padding-left: 35px;
  padding-right: 10px;
}

/*.sidebar .sidebar-menu li i.arrow{
  transform: rotate(-180deg);
}*/

.sidebar.closes .sidebar-menu li i.arrow{
  display: none;
}

.sidebar .sidebar-menu li i{
  height: 50px;
  max-width: 78px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  transition: all 0.3 ease;
}

.sidebar .sidebar-menu li a{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #707070;
}

.sidebar .sidebar-menu li a .link_name{
  font-size: 18px;
  font-weight: 400;
}

.sidebar .sidebar-menu li .sub-menu.showMenu{
  display: none  ;
}

.sidebar .sidebar-menu li .sub-menu{
  position: relative;
  padding: 6px 6px 14px 13px;
  margin-top: -10px;
  background: #F4F6F9;
  display: none ;
}

.card-filter{
  background: #ffff;
  border-radius: 20px;
  padding: 20px;
}

.sidebar.closes .sidebar-menu li:hover .sub-menu{
  display: block ;
}

.sidebar .sidebar-menu li .sub-menu a{
  color: #707070;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.4 ease;
}

.sidebar.closes .sidebar-menu li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
}

.sidebar.closes .sidebar-menu li .sub-menu{
  position: absolute;
  left: 100%;
  top: 0;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none;
}

.sidebar .sidebar-menu li .sub-menu.blank{
  opacity: 1;
  pointer-events: none;
  padding: 3px 20px 6px 16px;
}

.sidebar .sidebar-menu li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}

.sidebar .sidebar-menu li .sub-menu a:hover{
  opacity: 1;
}

.sidebar .sidebar-menu li .sub-menu .link_name{
  display: block;
}


.sidebar.closes .sidebar-menu li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block !important;
}

.canvasjs-chart-canvas {
  width: 100%; }

.active {
  background: #F4F6F9; }
  .active .icon-link a {
    color: #fe7701 !important; }



.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem; }

.sidebar-header label{
  color: #707070;
}

.logo{
  width: 120px;
}



.main-content {
  /*position: relative;*/
  margin-left: 240px;
  transition: margin-left 500ms; }

header {
  position: fixed;
  left: 240px;
  top: 0;
  z-index: 100;
  width: calc(100% - 240px);
  background: #fff;
  height: 60px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  transition: left 500ms; }

.search-wrapper {
  display: flex;
  align-items: center; }
  .search-wrapper input {
    border: 0;
    outline: 0;
    padding: 1rem;
    height: 38px; }

.social-icons {
  float: left;
  overflow: hidden; }
  /*.social-icons div {
    margin-left: 1rem;
    height: 38px;
    width: 38px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url();
    border-radius: 50%;
    border: 2px solid; }*/
    .social-icons div img {
      width: 100%; }

main {
  margin-top: 20px;
  background: #f8f9fa;
  min-height: 90vh;
  padding: 3rem 2rem; }

.main-title {
  color: #FE7701;
  margin-bottom: 1rem; }

.main-cards {
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    /* justify-content: space-between; */
    /*grid-template-columns: 52% 48%;*/ }

.solde{
  font-size: 1.3rem;
  font-weight: 600;
}

.card-single {
  background: #fff;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
 }

 .main-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

.card-single-header {
  background: #fff;
  color: #FFAC64;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%); }

.carmember{
  margin-top: 20px;
  width: 28%;
}
.card-single-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body {
  padding: 0;
  /*display: flex;
  align-items: center;
  justify-content: space-between;*/
  text-align: center; }
  .card-body span {
    font-size: 1.7rem;
    color: #777;
    padding-right: 1.4rem; }
  .card-body span {
    color: #1D2231;
    font-size: 1.5rem;
    margin-top: .3rem; }
  .card-body h5 {
    color: var(--text-grey);
    font-size: 1.3rem; }

.card-footer {
  padding: .2rem 1rem; }
  .card-footer a {
    color: #1d539a; }

.recent {
  margin-top: 3rem;
  margin-bottom: 1.5rem; }

.activity-grid {
  /*display: grid;
  grid-template-columns: 70% 27.5%;*/
  display: flex;
  justify-content: space-between;
  grid-column-gap: 1.5rem; }

#form-research {
  border-bottom: 1px solid #1d539a; }
  #form-research input {
    border: none;
    outline: none;
    font-size: 1rem; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  background: #f5f7fa;
  /*padding: 40px 0;*/
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
  color: #707070; }

.img-connexion{
  background-image: url('../img-connexion.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.calendar {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, minmax(120px, 1fr));
  grid-template-rows: 50px;
  grid-auto-rows: 120px;
  overflow: auto; }
  .calendar-container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;
    max-width: 1200px; }
  .calendar-header {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(to bottom, #fafbfd 0%, rgba(255, 255, 255, 0) 100%);
    border-bottom: 1px solid rgba(166, 168, 179, 0.12); }
    .calendar-header h1 {
      margin: 0;
      font-size: 18px; }
    .calendar-header p {
      margin: 5px 0 0 0;
      font-size: 13px;
      font-weight: 600;
      color: rgba(81, 86, 93, 0.4); }
    .calendar-header button {
      background: 0;
      border: 0;
      padding: 0;
      color: rgba(81, 86, 93, 0.7);
      cursor: pointer;
      outline: 0; }

.day {
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  text-align: right;
  padding: 14px 20px;
  letter-spacing: 1px;
  font-size: 12px;
  box-sizing: border-box;
  color: #98a0a6;
  position: relative;
  pointer-events: none;
  z-index: 1; }
  .day:nth-of-type(7n + 7) {
    border-right: 0; }
  .day:nth-of-type(n + 1):nth-of-type(-n + 7) {
    grid-row: 2; }
  .day:nth-of-type(n + 8):nth-of-type(-n + 14) {
    grid-row: 3; }
  .day:nth-of-type(n + 15):nth-of-type(-n + 21) {
    grid-row: 4; }
  .day:nth-of-type(n + 22):nth-of-type(-n + 28) {
    grid-row: 5; }
  .day:nth-of-type(n + 29):nth-of-type(-n + 35) {
    grid-row: 6; }
  .day:nth-of-type(7n + 1) {
    grid-column: 1/1; }
  .day:nth-of-type(7n + 2) {
    grid-column: 2/2; }
  .day:nth-of-type(7n + 3) {
    grid-column: 3/3; }
  .day:nth-of-type(7n + 4) {
    grid-column: 4/4; }
  .day:nth-of-type(7n + 5) {
    grid-column: 5/5; }
  .day:nth-of-type(7n + 6) {
    grid-column: 6/6; }
  .day:nth-of-type(7n + 7) {
    grid-column: 7/7; }
  .day-name {
    font-size: 12px;
    text-transform: uppercase;
    color: #99a1a7;
    text-align: center;
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    line-height: 50px;
    font-weight: 500; }
  .day--disabled {
    color: rgba(152, 160, 166, 0.6);
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    cursor: not-allowed; }

.task {
  border-left-width: 3px;
  padding: 8px 12px;
  margin: 10px;
  border-left-style: solid;
  font-size: 14px;
  position: relative; }
  .task--warning {
    border-left-color: #fdb44d;
    grid-column: 4 / span 3;
    grid-row: 3;
    background: #fef0db;
    align-self: center;
    color: #fc9b10;
    margin-top: -5px; }
  .task--danger {
    border-left-color: #fa607e;
    grid-column: 2 / span 3;
    grid-row: 3;
    margin-top: 15px;
    background: rgba(253, 197, 208, 0.7);
    align-self: end;
    color: #f8254e; }
  .task--info {
    border-left-color: #4786ff;
    grid-column: 6 / span 2;
    grid-row: 5;
    margin-top: 15px;
    background: rgba(218, 231, 255, 0.7);
    align-self: end;
    color: #0a5eff; }
  .task--primary {
    background: #4786ff;
    border: 0;
    border-radius: 4px;
    grid-column: 3 / span 3;
    grid-row: 4;
    align-self: end;
    color: #fff;
    box-shadow: 0 10px 14px rgba(71, 134, 255, 0.4); }
  .task__detail {
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    background: #fff;
    border: 1px solid rgba(166, 168, 179, 0.2);
    color: #000;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
    z-index: 2; }
    .task__detail:after, .task__detail:before {
      bottom: 100%;
      left: 30%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .task__detail:before {
      border-bottom-color: rgba(166, 168, 179, 0.2);
      border-width: 8px;
      margin-left: -8px; }
    .task__detail:after {
      border-bottom-color: #fff;
      border-width: 6px;
      margin-left: -6px; }
    .task__detail h2 {
      font-size: 15px;
      margin: 0;
      color: #51565d; }
    .task__detail p {
      margin-top: 4px;
      font-size: 12px;
      margin-bottom: 0;
      font-weight: 500;
      color: rgba(81, 86, 93, 0.7); }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 200;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  margin-top: 60px;
  width: 45%;
  /* Could be more or less, depending on screen size */ }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.research {
  height: 40px; }
  .research div {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    padding-right: 15px; }
    .research div i {
      font-size: 1rem;
      margin-top: 15px; }

#myBtn {
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 5px;
  background: #00A8F3;
  color: #fff;
  font-size: .8rem;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0 rgb(0 0 0 / 20%); }

.activity-card, .summary-card {
  background: #fff;
  border-radius: 7px; }
  .activity-card h3, .summary-card h3 {
    color: var(--text-grey);
    margin: 1rem; }
  .activity-card table, .summary-card table {
    width: 100%;
    border-collapse: collapse !important; }
  .activity-card thead, .summary-card thead {
    background: #efefef;
    text-align: left; }

table tbody tr {
  border-top: none !important; }

table.dataTable.no-footer {
  border-bottom: 1px solid #eee; }

th, td {
  font-size: .9rem;
  /*padding: 1rem 1rem !important;*/
  color: var(--color-dark); }

.dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  border: 1px solid #00A8F3 !important;
  background: #00A8F3 !important;
  box-shadow: none; }

.btn-action {
  margin-left: 0.5rem;
  font-size: 1rem; 
  border-radius: 5px; 
  box-shadow: 0px 8px 16px 0 rgb(0 0 0 / 20%);
}


  

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  /* background-color: #2b2b2b; */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #da6104));
  /* background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%); */
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%); */
  box-shadow: inset 0 0 3px #111; }

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #00A8F3;
  background-color: #585858;
  background: #00A8F3; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: #00A8F3;
  color: #fff !important; }

td {
  font-size: .85rem; }

/* Progress Bar */
.progressbar{
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
  
}

.progressbar::before,.progress{
  content: "";
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
}

.progress{
  background-color: #FE7701;
  width: 0%;
  transition: all 500ms ease;
}

.progressbar-step{
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.progressbar-step::before{
  counter-increment: step;
  content: counter(step);
  z-index: 1;
}

.progressbar-step::after{
  content: attr(data-title);
  position: absolute;
  top: 2.5rem;
  font-size: 0.8rem;
  color: #666;
}

.progressbar-step-active{
  background-color: #FE7701;
  color: #fff;
}

.form-step{
  display: none;
}

.form-step-active{
  display: block;
}

  .menus-div{
    display: flex;
    align-items: center;
  }

  .menus-div-i{
    padding-right: 1rem;
  }
.summary-card {
  padding-top: .5rem;
  padding-bottom: .5rem; }

.summary-single {
  padding: .5rem 1rem;
  display: flex;
  align-items: center; }
  .summary-single h5 {
    font-size: 1.1rem;
    color: #1d539a;
    margin-bottom: 0rem  !important; }
  .summary-single small {
    font-weight: 700;
    color: var(--text-grey); }
  .summary-single span {
    font-size: 1.5rem;
    padding-left: 1rem;
    color: #777; }

.table-responsive {
  overflow-x: auto; }

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 60px;
    z-index: 150; }
  .sidebar .sidebar-header h3 span,
  .sidebar li span {
    display: flex;
    justify-content: center; }
  .main-content {
    margin-left: 60px; }
    .main-content header {
      left: 60px;
      width: calc(100% - 60px); }
      .main-content header .avatar {
        background-image: url("/img/avatar.png"); }
  .sidebar li span:last-child {
    display: none; }
  .sidebar .sidebar-header h3 span {
    display: none; }
  #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
  #sidebar-toggle:checked ~ .sidebar li span:last-child {
    display: inline; }
  #sidebar-toggle:checked ~ .sidebar {
    width: 240px; }
  #sidebar-toggle:checked ~ .main-content {
    margin-left: 60px; }
    #sidebar-toggle:checked ~ .main-content header {
      left: 60px;
      width: calc(100% - 60px); }
  #sidebar-toggle:checked ~ .sidebar .sidebar-header {
    display: flex;
    justify-content: space-between; }
  #sidebar-toggle:checked ~ .sidebar li {
    display: block; } }

@media only screen and (max-width: 860px) {
  .main-cards {
    grid-template-columns: repeat(2, 1fr); }
  .card-single {
    margin-bottom: 1rem; }
  .activity-grid {
    display: block; }
  .summary {
    margin-top: 1.5rem; } }

@media only screen and (max-width: 600px) {
  .main-cards {
    grid-template-columns: 100%; }
    .form-content {
      flex-wrap: wrap;
  }

  #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span, #sidebar-toggle:checked ~ .sidebar li span {
    display: inline !important; }
  .login-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; }
    .login-input input {
      width: 100%; } }

@media only screen and (max-width: 450px) {
  main {
    padding-left: 1rem;
    padding-right: 1rem; } }
