body {
	background: #ffffff;
	color: #333;
	font-family: 'Gotham', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	overflow-x: hidden;
	margin: 0 auto;
	padding: 0;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	color: #444;
	line-height: 1.3;
}

a {
	color: #ff678c;
	text-decoration: none !important;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}

img {
	max-width: 100%;
}

a:hover {
	color: #ff678c;
	-moz-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

a:hover, a:focus {
	color: #ff678c;
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: #555;
	font-weight: 400;
	line-height: 26px;
	font-family: 'Gotham', sans-serif;
}

.z-index {
	z-index: 9;
}

.position-relative {
	position: relative!important;
}

.form-control:focus {
	box-shadow: none;
	outline: 0 none;
	border-bottom: 1px solid #ff678c;
}

.btn:focus {
	outline: none !important;
	box-shadow: none;
}

button:focus {
	outline: 0 none;
	box-shadow: none;
}

.button:focus {
	outline: none;
	box-shadow: none;
}

.button {
	display: inline-block;
	padding: 10px 30px;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 14px;
	text-transform: capitalize;
	letter-spacing: 0.7px;
	font-weight: 500;
	border: 0;
	border-radius: 35px;
	color: #fff;
	background: #00a8f0;
    /*background: linear-gradient( 65deg, #FF4D79 0, #FF809F 100%)*/;
	transition: all 500ms ease;
	cursor: pointer;
	position: relative;
	margin-top: 25px;
	overflow: hidden;
	white-space: nowrap;
    transition: background .5s ease;
    box-shadow: 0px 3px 10px -3px #00a8f0;
}

.button:hover {
    color: #fff;
    box-shadow: 0px 5px 25px -3px #00a8f0;
}

dl, ol, ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.bg-fixed {
	background-attachment: fixed;
}

.bg-img {
	background-size: cover;
	background-repeat: no-repeat;
}
.pt-70 {
	padding-top: 70px;
}
.pt-100 {
	padding-top: 100px;
}
.pb-70 {
	padding-bottom: 70px;
}
.pb-100 {
	padding-bottom: 100px;
}
.ptb-100 {
	padding: 100px 0;
}

.section-padding {
	padding: 100px 0;
}

.section-title {
	text-align: center;
	margin-bottom: 60px;
}

.section-title h2 {
	font-weight: 700;
	text-transform: capitalize;
	font-size: 36px;
	line-height: 1.4;
	color: #333;
}

.small-title {
    color: #FFAC64;
    margin-bottom: 0;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 2px;
}

.display-table {
	width: 100%;
	height: 100%;
	display: table;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.mr-top-50 {
	margin-top: 50px;
}

.back-to-top {
	position: fixed;
	display: none;
	color: #fff;
	width: 40px;
	height: 42px;
	line-height: 40px;
	border-radius: 5px;
	right: 25px;
	bottom: 20px;
	text-align: center;
	background: #FFAC64;
	transition: background 0.5s;
	z-index: 11;
}

.back-to-top i {
	color: #fff;
	font-size: 20px;
}

.v-middle {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	-webkit-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}

.valign {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.animation-bounce {
	-webkit-animation: bounce 3s infinite ease-in-out;
	-o-animation: bounce 3s infinite ease-in-out;
	-ms-animation: bounce 3s infinite ease-in-out;
	-moz-animation: bounce 3s infinite ease-in-out;
	animation: bounce 3s infinite ease-in-out;
}

::-webkit-scrollbar{
	width: 5px;
  }
  
  ::-webkit-scrollbar-track{
	border-radius: 5px;
  }

  .single-features-item svg{
	color:#fff
}

  .single-features-item:hover svg{
	  color: #000;
  }
  
  ::-webkit-scrollbar-thumb{
	background: #FFAC64;
	border-radius: 10px;
  }

@-webkit-keyframes bounce {
	0% {
		transform: translateY(-5px);
	}

	50% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(-5px);
	}
}

@keyframes bounce {
	0% {
		transform: translateY(-5px);
	}

	50% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(-5px);
	}
}
/* owl theme */
.owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 30px;
	line-height: .7;
}

.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 0 3px;
    background: #FFAC64;
    border-radius: 30px;
	
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: transparent;
	border: 2px solid #FFAC64;
	-webkit-box-shadow: 0 1px 5px #fff;
    box-shadow: 0 1px 5px #fff;
}

/**************************************
 * 02.Preloader Area Style
 *************************************/
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999;
}

.spinner {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    -webkit-animation: rotatee 2.0s infinite linear;
    animation: rotatee 2.0s infinite linear;
}

.dot1,
.dot2 {
    width: 60%;
    height: 60%;
    background-color: #FFAC64;
    display: inline-block;
    position: absolute;
    top: 0;
    border-radius: 100%;
    -webkit-animation: bouncee 2.0s infinite ease-in-out;
    animation: bouncee 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0px;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes rotatee {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes rotatee {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes bouncee {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncee {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/**************************************
 * 03.Navber Area Style
 *************************************/
.navbar-b {
	transition: all .5s ease-in-out;
	background-color: transparent;
	padding-top: 1.563rem;
	padding-bottom: 1.563rem;
}

.navbar-b.navbar-reduce {
	box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.navbar-b.navbar-trans .nav-item, .navbar-b.navbar-reduce .nav-item {
	position: relative;
	padding-right: 10px;
	padding-left: 0;
}

.navbar-b.navbar-trans .nav-link, .navbar-b.navbar-reduce .nav-link {
	color: #fff;
	text-transform: capitalize;
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 0.7px;
	font-family: 'Gotham', sans-serif;
}

.navbar-b.navbar-trans .nav-link:hover, .navbar-b.navbar-reduce .nav-link:hover {
	color: #1B1B1B;
}

.navbar-b.navbar-trans .nav-link:hover {
	color: #fff;
}

.navbar-b.navbar-trans .show > .nav-link, .navbar-b.navbar-trans .active > .nav-link, .navbar-b.navbar-trans .nav-link.show, .navbar-b.navbar-trans .nav-link.active {
	color: #fff;
}

.navbar-b.navbar-reduce {
	transition: all .5s ease-in-out;
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-b.navbar-reduce .nav-link {
	color: #444;
}

.navbar-b.navbar-reduce .nav-link:hover {
	color: #FFAC64;
}

.navbar-b.navbar-reduce .show > .nav-link, .navbar-b.navbar-reduce .active > .nav-link, .navbar-b.navbar-reduce .nav-link.show, .navbar-b.navbar-reduce .nav-link.active {
	color: #FFAC64;
}

.navbar-b.navbar-reduce .navbar-brand {
	color: #000;
}

.navbar-b.navbar-reduce .navbar-toggler span {
	background-color: #1B1B1B;
}

.navbar-b .navbar-brand {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 700;
	font-family: 'Gotham', sans-serif;
}

.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu, .navbar-b .dropdown.show .dropdown-menu, .navbar-b .dropdown-btn.show .dropdown-menu {
	-webkit-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
	visibility: visible !important;
}

.navbar-b .dropdown-menu {
	margin: 1.12rem 0 0;
	border-radius: 0;
}

.navbar-b .dropdown-menu .dropdown-item {
	padding: .7rem 1.7rem;
	transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item:hover {
	background-color: #FFAC64;
	color: #fff;
	transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item.active {
	background-color: #FFAC64;
}

.navbar-toggler {
	position: relative;
}

.navbar-toggler:focus, .navbar-toggler:active {
	outline: 0;
}

.navbar-toggler span {
	display: block;
	background-color: #fff;
	height: 3px;
	width: 25px;
	margin-top: 4px;
	margin-bottom: 4px;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	left: 0;
	opacity: 1;
}

.navbar-toggler span:nth-child(1), .navbar-toggler span:nth-child(3) {
	transition: -webkit-transform .35s ease-in-out;
	transition: transform .35s ease-in-out;
	transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
	position: absolute;
	left: 12px;
	top: 10px;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
	height: 12px;
	visibility: hidden;
	background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
	position: absolute;
	left: 12px;
	top: 10px;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	opacity: 0.9;
}

/**************************************
 * 04.Home Section Style
 *************************************/
.home-area {
	height: 100vh;
	position: relative;
	color: #fff;
	text-align: center;
	z-index: 1;
	padding-top: 130px;
}

.home-area::before {
    content: '';
    position: absolute;
	z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	height: 100%;
	width: 100%;
	opacity: 0.4;
	background: url(../img/home-layer.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home-area::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	z-index: -1;
    /*background-image: linear-gradient(45deg,#ff348a 0,#f97669 50%,#ff9f20 110%);*/
	background-image: linear-gradient(45deg,#F49F84 0,#ED4800 50%,#FAC404 110%)
}

/*#jvlabelWrap{
	right: 0 !important;
	left: 10px !important;
}*/

.white {
    color: #ffffff !important; }

.pd{
	padding-left: 1.5rem !important;
	padding-right: 1.5rem !important;
}

.navbar-b.navbar-reduce .btn-blue{
	color: #fff;
}

.svg-shape-bottom .bottom-shape {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -5px;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
}

.hero-equal-height {
	position: relative;
	min-height: 660px;
	-js-display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.home-area .home-content h1 {
	font-size: 48px;
	color: #ffffff;
	text-transform: inherit;
	margin-bottom: 20px;
	font-weight: 700;
	line-height: 1.3;
}

.home-area .home-content p {
	margin-bottom: 5px;
	color: #fff;
	font-size: 15px;
	line-height: 1.6;
}

.home-content .button {
	box-shadow: none;
}

.home-content .home-btn-1 {
	margin-right: 15px;
	background: #ffffff;
    color: #000;
}
.home-content .home-btn-2 {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 9px 30px;
}
.home-content .home-btn-2:hover {
    background: #fff;
    color: #000;
}

.home-content .iq-video i {
	margin-left: 3px;
	font-size: 15px;
}

.svg-shape-bottom svg {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
/**************************************
 * 05.Feature Section Style
 *************************************/

.features-area {
    background-color: #fff;
}

.features-area .section-title {
    text-align: center;
    margin-bottom: 45px;
}
.single-features-item {
	padding: 45px 20px;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
    transition: .3s;
    background-color: #fff;
	-webkit-box-shadow: 0 3px 35px 0px rgba(68, 107, 138, 0.12);
	box-shadow: 0 3px 35px 0px rgba(68, 107, 138, 0.12);
	-webkit-transition: all .3s;
    transition: all .3s;
    will-change: transform;
	height:350px
}

.single-features-item:hover {
    transform: translate(0, -5px);
}

.features-icon {
	position: relative;
	z-index: 1;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 0 1px 6px rgb(150, 150, 150, 0.35);
    margin-bottom: 20px;
}

.btn-blue{
	background: #00a8f0 !important;
	border-color: #00a8f0 !important;
}

.features-icon i {
    color: #fff;
    font-size: 33px;
    line-height: 70px;
}

.features-text h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.single-features-item .features-icon:after {
    top: 0px;
    left: 0px;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    background: inherit;
    border-radius: inherit;
}
.single-features-item:hover .features-icon:after {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
}
.single-features-item:hover .features-icon i:before {
    color: #000;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.single-features-item .features-icon.color-icon-1:after {
    background-color: #70d000;
}
.single-features-item .color-icon-2:after {
    background-color: #ffaa00;
}
.single-features-item .color-icon-3:after {
    background-color: #fd2870;
}
.single-features-item .color-icon-4:after {
    background-color: #2196f3;
}
.single-features-item .color-icon-5:after {
    background-color: #7e46e2;
}
.single-features-item .color-icon-6:after {
    background-color: #c02ada;
}

/**************************************
 * 06.Counter Section Style
 *************************************/

.counter-area {
	padding: 0px 0;
}
.counter-contents {
	text-align: center;
}
.counter-contents h2 {
	color: #333;
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 10px;
	word-spacing: -10px;
}
.counter-contents h3 {
	color: #555;
	font-size: 18px;
	font-weight: 600;
}

/**************************************
 * 07. About Section Style
 *************************************/
.about-area {
	background: #fff;
}

.about-img {
	text-align: center;
}

.about-info {
	display: flex;
	align-items: baseline;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	padding-right: 0px;
}

.about-info h2 {
	font-weight: 700;
	font-size: 33px;
	line-height: 1.3;
	color: #333333;
}

.about-info p {
	margin-top: 20px;
	margin-bottom: 10px;
}

.about-info ul li {
	padding-top: 5px;
}

.about-info ul li i {
	color: #ffc107;
	font-size: 15px;
	padding-right: 5px;
}

.about-info .btn {
	margin-top: 25px;
}

/**************************************
 * 08.Video Section Style
 *************************************/
.video-area {
	position: relative;
	color: #fff;
	background: url(../img/video-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index: 1;
	padding: 150px 0;
}

.video-area::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	opacity: .9;
	z-index: -1;
	background: #00a8f0;
	/*background: linear-gradient(to right, #8830d0, #4923d8);*/
}

.video-info h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.video-info p {
    color: #e6e6e6;
    font-size: 15px;
    font-weight: 500;
}
.video-content-popup {
    text-align: center;
}
.video-content-popup .video-btn {
	margin: auto;
}


.video-content-popup .video-btn i {
    height: 75px;
    width: 75px;
    line-height: 75px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 80px;
    -webkit-animation: ripple-white 1s linear infinite;
    animation: ripple-white 1s linear infinite;
    -webkit-transition: .5s;
}

@-webkit-keyframes ripple-white {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
	}

	100% {
		-webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0);
	}
}

@keyframes ripple-white {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
	}

	100% {
		-webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0);
	}
}

/**************************************
 * 09.Choose Us Section Style
 *************************************/
.choose-content-info h5 {
    color: #ff678c;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}
.choose-content-info h2 {
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 15px;
}

.choose-content-info h3 {
    color: #555;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.choose-feature-box {
    margin-top: 25px;
}

.choose-single-feature {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 30px;
}
.choose-single-feature:last-child {
	margin-bottom: 0px;
}
.choose-features-icon {
    position: absolute;
    z-index: 1;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
    border: 0;
}

.choose-features-info {
    padding-left: 75px;
}

.choose-features-icon i {
	color: #fff;
    font-size: 35px;
    line-height: 60px;
}

.choose-features-info p {
    margin: 0;
}

.choose-features-info h3 {
    font-size: 18px;
    font-weight: 500;
    padding-right: 30px;
    line-height: 1.5;
}

.choose-single-feature .color-icon-1 {
    background-color: #70d000 !important;
}
.choose-single-feature .color-icon-2 {
    background-color: #ffaa00 !important;
}
.choose-single-feature .color-icon-3 {
    background-color: #fd2870 !important;
}

/**************************************
 * 10.Screenshort Section Style
 *************************************/
.screenshort-slide-content .screenshort-item img {
    margin: 10px 0px;
    background: #ffffff;
	border-radius: 5px;
}

/**************************************
 * 11.Testimonial Section Style
 *************************************/
.testimonial-area {
	position: relative;
	z-index: 1;
    background: #f7f8fb;
}
.testimonial-content-inner {
    background: #ffffff;
    margin: 25px 10px;
    border-radius: 5px;
    padding: 30px 25px;
    text-align: center;
	-webkit-box-shadow: 0 3px 30px 0px rgba(68, 107, 138, 0.12);
	box-shadow: 0 3px 30px 0px rgba(68, 107, 138, 0.12);
}

.testimonial-rating {
	margin-bottom: 10px;
}

.testimonial-content-inner .testimonial-rating h6 {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 15px;
}
.testimonial-rating ul li {
	display: inline-block;
	margin-right: 8px;
}

.testimonial-rating ul li i {
	color: #ffc107;
	font-size: 18px;
}


.testimonial-content-inner .testimonial-text p {
	margin-bottom: 15px;
}
.testimonial-content-inner .author-info .author-img img {
    border-radius: 50%;
    border: 5px solid #fff;
    width: 75px;
    margin: 0 auto;
	-webkit-box-shadow: 0 3px 15px rgba(218, 225, 232, 0.85);
	box-shadow: 0 3px 15px rgba(218, 225, 232, 0.85);
}
.testimonial-content-inner .author-info .author-img {
    margin-bottom: 10px;
}
.testimonial-content-inner .author-info h3 {
	font-size: 18px;
	font-weight: 500;
}

.testimonial-content-inner .author-info span {
	font-size: 14px;
}

/**************************************
 * 12.Faq Section Styles
 **************************************/
.faq-area {
}
.faq-accordion .accordion {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-left: 0;
  margin-bottom: 0;
  position: relative;
}

.faq-accordion .accordion .accordion-item {
	display: block;
    border-radius: 0;
	margin-bottom: 20px;
    overflow: hidden;
}

.faq-accordion .accordion .accordion-item:last-child {
  margin-bottom: 0;
}

.faq-accordion .accordion .accordion-item .accordion-title {
    padding: 20px;
    color: #333;
    position: relative;
    background: #f5f5f6;
    font-size: 18px;
    font-weight: 600;
    display: block;
    border: none;
}

.faq-accordion .accordion .accordion-item .accordion-title i {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #767c99;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 15px;
}

.faq-accordion .accordion .accordion-item .accordion-title.active i::before {
  content: "\f0d8";
}

.faq-accordion .accordion .accordion-item .accordion-content {
  display: none;
  background-color: #ffffff;
  margin-bottom: 0;
  padding: 20px 15px;
  font-size: 15px;
}

.faq-accordion .accordion .accordion-item .accordion-content.show {
  display: block;
}

/*************************************
 * 13.Team Section Style
 *************************************/

.team-area {
}

.team-area .section-title {
	margin-bottom: 30px;
}

.single-team-box {
	margin-top: 30px;
	border-radius: 3px;
	overflow: hidden;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.team-image {
	position: relative;
	z-index: 1;
}

.single-team-box .team-image img {
	width: 100%;
	height: auto;
}

.team-social-box {
	display: block;
}

.team-social-box {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	z-index: 2;
	-webkit-transition: all .5s;
	transition: all .5s;
	background-color: transparent;
}

.single-team-box .team-image .team-social-box:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 0;
	z-index: -1;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transition: all .5s;
	transition: all .5s;
}

.single-team-box:hover .team-image .team-social-box:after {
	height: 100%;
}

.single-team-box .team-social-icon {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: auto;
	text-align: center;
	overflow: hidden;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	will-change: transform;
}

.single-team-box .team-social-icon a {
	position: relative;
	z-index: 1;
	display: inline-block;
	color: inherit;
	font-size: 15px;
	margin: 12px 5px;
	vertical-align: middle;
	background: #ffffff;
	width: 33px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	border-radius: 30px;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
	-webkit-transition: all .4s;
}

.single-team-box:hover .team-social-icon a {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
}

.single-team-box .team-social-icon a:after {
	top: 0px;
	left: 0px;
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	-webkit-transform: scale(1.4);
	-ms-transform: scale(1.4);
	-o-transform: scale(1.4);
	transform: scale(1.4);
	opacity: 0;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
	background: inherit;
	border-radius: inherit;
	will-change: transform;
}

.single-team-box .team-social-icon a:hover:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.single-team-box .team-social-icon a:hover i:before {
	color: #fff;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.team-info {
	padding: 20px 15px 15px;
	text-align: center;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.team-info h3 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 0;
}

.team-info span {
	color: #5764ec;
	font-size: 14px;
	font-weight: 600;
	display: block;
}

.social-color-1:hover:after {
	background-color: #3b5998 !important;
}

.social-color-2:hover:after {
	background-color: #00acee !important;
}

.social-color-3:hover:after {
	background-color: #0e76a8 !important;
}

.social-color-1 {
	color: #3b5998 !important;
	background-color: transparent;
}

.social-color-2 {
	color: #00acee !important;
	background-color: transparent;
}

.social-color-3 {
	color: #0e76a8 !important;
	background-color: transparent;
}

/**************************************
 * 14. Downloade Section Style
 *************************************/
.download-area {
	position: relative;
	color: #fff;
	text-align: center;
	background: url(../assets/img/download-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.download-area::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	opacity: .8;
	z-index: -1;
	/*background: #4923d8;
	background: linear-gradient(to right, #8830d0, #4923d8);*/
}

.download-app-text {
	padding: 100px 0;
	text-align: center;
}
.download-app-text h5 {
    color: #ffac64;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}
.download-app-text h2 {
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 15px;
}

.download-app-text p {
	color: #fff;
}

.download-button-wrapper {
	margin-top: 30px;
	text-align: center;
}

.list-inline-btn {
    display: inline-block;
}

.list-inline-btn .btn-1 {
	margin-right: 20px;
}

.download-btn {
	display: inline-block;
	margin-bottom: 10px;
	box-shadow: none;
	margin: 0;
}

.active-btn {
    border: 2px solid #ff678c;
    background: #ff678c;
}

.download-btn span {
	font-size: 30px;
	color: #fff;
	margin-right: 15px;
}

.download-btn .download-text {
    text-align: left;
	line-height: 1.1;
}
.download-btn .download-text small {
	color: #fff;
	font-size: 12px;
	font-weight: 500;
}

.download-btn .download-text h6 {
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	line-height: 1.2;
}

/**************************************
 * 15. Contact Section Style
 *************************************/

.contact-information-box-3 .single-contact-info-box {
	position: relative;
    z-index: 1;
    padding: 20px 25px;
    display: block;
    border-radius: 3px;
    background: #f3f3f3;
    text-align: left;
    margin-bottom: 20px;
    overflow: hidden;
}
.contact-information-box-3 .contact-info {
	position: relative;
    z-index: 1;
}
.contact-information-box-3 .contact-info i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: #5764ec;
    font-size: 35px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    display: block;
    background: #ffffff;
}
.contact-information-box-3 .contact-info h6 {
	font-weight: 700;
    font-size: 18px;
    color: #333;
    margin-bottom: 7px;
    text-transform: capitalize;
}

.contact-information-box-3 .contact-info p {
	font-weight: 500;
	font-size: 14px;
	color: #333;
	text-transform: capitalize;
	margin: 0;
}
.contact-information-box-3 .single-contact-info-box .contact-info-bg-icon {
    color: #ff561d;
    opacity: .07;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100px;
    margin: 0 auto;
    z-index: -1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.contact-information-box-3 .single-contact-info-box .contact-info-bg-icon i {
    font-size: 200px;
}


.contact-form-box {
    padding: 35px 25px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 4px rgb(187 191 218);
    -moz-box-shadow: 0 1px 4px rgb(187 191 218);
    box-shadow: 0 1px 4px rgb(187 191 218);
    -o-box-shadow: 0 1px 4px rgb(187 191 218);
    -ms-box-shadow: 0 1px 4px rgb(187 191 218);
}
.contact-area .form input,
.contact-area .form textarea {
	width: 100%;
	padding: 10px 20px;
	border: 0;
	background-color: #f1f1f1;
	font-weight: 400;
	border-radius: 5px;
}

.contact-area .form textarea {
	max-height: 120px;
	max-width: 100%;
}

#contact-form .button {
	margin: 0;
}

.form-group {
	margin-bottom: 25px;
}

button, input, textarea {
	color: #505050;
}

button, input, textarea:focus {
	border: none;
	outline: none;
}

.contact-area .form-message.success {
	background: #03b103;
	color: #fff;
	padding: 10px 15px;
	border-radius: 3px;
	margin-bottom: 15px;
}

.contact-area .form-message.error {
	background: #ff4d15;
	color: #fff;
	padding: 10px 15px;
	border-radius: 3px;
	margin-bottom: 15px;
}

/**************************************
 * 16. Footer Section Style
 *************************************/
.footer-area {
	background-color: #20222E;
	background-image: url(../img/footer-bg.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.footer-area svg {
	display: block;
	width: 100%;
}
.footer-top-area {
    padding: 70px 0;
}
.footer-logo-box {
	margin-bottom: 15px;
}

.footer-logo-box h2 {
	margin-bottom: 20px;
	font-size: 33px;
	font-weight: 700;
	color: #ffffff;
}

.footer-logo-box p {
    color: #ececec;
    margin: 0 auto;
    margin-top: 15px;
    max-width: 530px;
}

.footer-social-icon {
	margin-top: 20px;
}

.footer-social-icon a i {
    font-size: 18px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    color: #ffffff;
    background: transparent;
    text-align: center;
    transition: .3s;
    border: 1px dashed #ffac64;
}

.footer-social-icon a i:hover {
	color: #ffffff;
	background: #ffac64;
	transition: .3s;
}

.subscribe-form-box {
    margin-top: 35px;
}

.subscribe-form-box form input {
	width: 100%;
	height: 50px;
	padding-left: 20px;
	border: 0;
	border-radius: 30px;
}

.subscribe-form-box form input:focus {
	outline: none;
	border: 0;
}

.subscribe-form-box form {
	position: relative;
	width: 65%;
	margin: auto;
}

.subscribe-form-box .subscribe-btn {
	position: absolute;
	top: 2px;
	right: 2px;
	height: 46px;
	width: 150px;
	line-height: 46px;
	text-align: center;
	background: #ff678c;
	border: none;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	border-radius: 30px;
}

.subscribe-form-box .subscribe-btn:hover {
	color: #fff;
	box-shadow: 3px 3px 27px -3px #ff678c;
}
.download-app-button {
    text-align: center;
    margin-top: 30px;
}
.download-app-button .img-app-btn-1 {
    margin-right: 15px;
	display: inline-block;
}
.copyright-area {
	border-top: 1px solid #2f3140;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.copyright-area p {
	color: #fff;
}

.copyright-area p a {
	color: #ff678c;
}