<html>

<head>
    <style>
        .main {
            background-image: url('{TEMPLATE_IMG}');
            opacity: 1;
        }
    </style>
</head>

<body>
    <table bgcolor="#304050" align="center" width="750" class="margin-full"
        style="background-size:cover; background-position:center;" border="0" cellpadding="0" cellspacing="0"
        background="img/module01-bg01.png">
        <tbody>
            <tr>
                <td>
                    <table width="600" align="center" class="margin-pad" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td height="50" style="font-size:0px">&nbsp;</td>
                            </tr>
                            <!-- image -->


                            <tr>
                                <td class="res-center"
                                    style="text-align: center; color: white; font-family: 'Raleway', Arial, Sans-serif; font-size: 36px; letter-spacing: 1px; word-break: break-word; font-weight: 300;">
                                    Bienvenu sur Occazetneuf
                                </td>
                            </tr>
                            <!-- title end -->
                            <tr>
                                <td height="14" style="font-size: 0px;">&nbsp;</td>
                            </tr>
                            <!-- dash -->
                            <tr>
                                <td>
                                    <table align="center" class="res-full" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table bgcolor="#95C11D" align="center" style="border-radius: 10px;"
                                                        border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="60" height="3" style="font-size:0px">&nbsp;
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>


                            <!-- button end -->
                            <tr>
                                <td height="30" style="font-size: 0px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <table align="center" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0"
                                        width="700" class="main">
                                        <tbody>
                                            <tr>
                                                <td style="padding:6px 0px 0px">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                        width="680">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%">

                                                                    <table align="right" border="0" cellpadding="0"
                                                                        cellspacing="0" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td colspan="2"
                                                                                    style="font-size:13px;color:#272727;font-weight:light;text-align:left;font-family:Arial,Helvetica,sans-serif;line-height:25px;vertical-align:middle;padding:10px 0px 10px 0px">
                                                                                    Cher(e) client(e),<br> Nous sommes
                                                                                    heureux de vous souhaiter la
                                                                                    bienvenue sur notre portail
                                                                                    <strong>Occazetneuf</strong>.
                                                                                    <br> Votre compte est désormais
                                                                                    crée. il vous permettra de suivre
                                                                                    les produits que vous avez mis en
                                                                                    dépôt chez <strong>{STORE_NAME}</strong>.
                                                                                    <br> Veuillez trouver ci-après les
                                                                                    informations pour vous connecter sur
                                                                                    votre compte <a
                                                                                        href="{SITE_URL}/{SERVICE}/home"
                                                                                        ><strong>{SERVICE}</strong></a>

                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td nowrap=""
                                                                                    style="font-size:13px;color:#272727;font-weight:light;text-align:left;font-family:Arial,Helvetica,sans-serif;line-height:15px;vertical-align:middle;padding:10px 0px 5px 30px">
                                                                                    <strong>Votre identifiant</strong>
                                                                                </td>
                                                                                <td
                                                                                    style="font-size:13px;color:#272727;font-weight:light;text-align:left;font-family:Arial,Helvetica,sans-serif;line-height:15px;vertical-align:middle;padding:10px 0px 5px 0px">
                                                                                      {LOGIN}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="font-size:13px;color:#272727;font-weight:light;text-align:left;font-family:Arial,Helvetica,sans-serif;line-height:15px;vertical-align:middle;padding:10px 0px 5px 30px">
                                                                                    <strong>Votre
                                                                                        mot de passe</strong></td>
                                                                                <td
                                                                                    style="font-size:13px;color:#272727;font-weight:light;text-align:left;font-family:Arial,Helvetica,sans-serif;line-height:15px;vertical-align:middle;padding:10px 0px 5px 0px">
                                                                                    ****</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="font-size:13px;color:#272727;font-weight:light;text-align:left;font-family:Arial,Helvetica,sans-serif;line-height:15px;vertical-align:middle;padding:10px 0px 5px 30px">
                                                                                    <strong>Accéder
                                                                                        à votre compte
                                                                                    </strong></td>
                                                                                <td
                                                                                    style="font-size:13px;color:#272727;font-weight:light;text-align:left;font-family:Arial,Helvetica,sans-serif;line-height:15px;vertical-align:middle;padding:10px 0px 5px 0px">
                                                                                    <a
                                                                                    href="{SITE_URL}/{SERVICE}/home">{SITE_URL}/{SERVICE}/home/</a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="700"
                                        class="main">
                                        <tbody>
                                            <tr>
                                                <td bgcolor="#ffffff" width="100%" colspan="2"
                                                    style="font-size:13px;color:#303030;font-weight:light;text-align:left;font-family:Arial,Helvetica,sans-serif;line-height:25px;vertical-align:top;padding:0px 10px">
                                                    <table class="main">
                                                        <tr>
                                                            <td>
                                                                Nous restons à votre écoute pour tout complément
                                                                d'information et pour vous assister en cas de
                                                                difficultés pour accéder à votre compte
                                                                déposant.<br><br>
                                                                Salutations cordiales,<br> Assistance Occazetneuf :
                                                                assistance@occazetneuf.com <br>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <table bgcolor="#304050" width="750" align="center" class="margin-full" border="0"
                                cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table width="600" align="center" class="margin-pad" border="0"
                                                cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td height="50"
                                                            style="text-align: center; color: white; font-family: 'Raleway', Arial, Sans-serif; font-size: 16px; letter-spacing: 1px; word-break: break-word; font-weight: 300;">
                                                            Copyright © JIS Computing All rights reserved.</td>
                                                    </tr>
                                                    <tr>


                                        </td>
                                    </tr>
                                    <!-- column x3 end -->
                                    <tr>
                                        <td height="50" style="font-size:0px">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>